*{
    margin: 0;
    padding: 0;
}
#sky{
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1651355257889-36ee5f8af2c8?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGNsZWFyJTIwbmlnaHQlMjBza3l8ZW58MHx8MHx8fDA%3D');
    background-repeat: no-repeat;
    background-size: cover;
}
#sky img{
    width: 150px;
    height: 200px;
    position: relative;
    top: 420px;
    margin: 0 auto;
    display: block;
    animation: fly 5s ease-in-out  infinite;
}

@keyframes fly{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100vh);
    }
}